body {
  font-family: Consolas, "Liberation Mono", Monaco, Courier, monospace;
  font-size: 0.8em;
  color: #222;
}

blockquote {
  margin: 0.5em;
  padding: 5px 0 5px 3%;
  color: #444;
  border-left: 3px #ccc solid;
}
