---
---

@import "syntax";
@import "gridism";

/* Variables */
$background-colour: #F5F9F2;
$header-colour: #7AA66F;
$font-colour: #333333;

$link-colour: #539623;
$link-colour-dark: $link-colour; // $link-colour - #111111;

$selection_color: #f5f5f5;
$selection_bg_color: #6fae79;

body {
  font-family: Consolas, "Liberation Mono", Monaco, Courier, monospace;
  background-color: $background-colour;
  color: $font-colour;
  font-size: 0.8em;
  color: #222;
}

a {
  color: $link-colour;
  &:hover { text-decoration: underline; }
  &:visited { color: $link-colour-dark; }
}

.site-title {
  color: $header-colour;
}

code, pre {
  font-family: Consolas, "Liberation Mono", Monaco, Courier, monospace;
  font-size: 1.25;
}

code {
  background-color: #fafcf9;
  padding: 0.5em;
  pre > & {
    padding: 0;
  }
}

pre {
  padding: 1em;
}

blockquote {
  margin: 0.5em;
  padding: 5px 0 5px 3%;
  color: #444;
  border-left: 3px #ccc solid;
}

img {
  width: 100%;
}

img.emoji {
  height: 20px;
  width: 20px;
}

.published_at {
  color: rgb(78, 78, 78);
}
