markdown:  kramdown
permalink: "/:year/:month/:day/:title:output_ext"
#baseurl: "/stuff"

name:       "parker's stuff"
author:     "Parker Moore"
email:      "parkrmoore@gmail.com"

url:        "https://stuff.parkermoore.de"
dotfiles:   "https://github.com/parkr/dotfiles"

mind_blown: "![mind-blowing](/images/mind_blown.gif)"
excerpt_separator: ""

collections:
  compilations:
    output: true

plugins:
- jemoji
- jekyll-feed
- jekyll-sitemap
- jekyll-redirect-from

feed:
  path: atom.xml
  posts_limit: 20

prose:
  metadata:
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
          placeholder: "Title Goes Here"
      - name: "layout"
        field:
          element: "text"
          label: "Layout"
          value: "post"
          placeholder: "Enter a layout"
      - name: "external-url"
        field:
          element: "text"
          label: "URL Reference"
          value: ""
          placeholder: "https://"
      - name: "mirror"
        field:
          element: "text"
          label: "Link to the file mirror"
          value: ""
          placeholder: "some-file.txt"

exclude:
- CNAME
- Gemfile*
- LICENSE
- Rakefile
- README.md
- vendor
- script
- .ruby-lsp

timezone: America/Los_Angeles
