<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" href="{{ "/atom.xml" | absolute_url }}"  title="{{ site.name }}" type="application/atom+xml">
  <title>{% if page.title %}{{ page.title }} / {% endif %}{{ site.name }}</title>
  {% feed_meta %}
  <link rel="stylesheet" href="{{ "/css/parkersstuff.css" | relative_url }}">
  <script type="text/javascript" src="https://ping.parkermoo.re/ping.js?v=2" defer async></script>
</head>
<body class="grid">
  <div class="unit whole">
    <a href="{{ "/" | relative_url }}">parker's stuff</a>
  </div>
  <div class="unit whole">
    {{ content }}
  </div>
</body>
</html>

