---
layout: default
---

<div class="unit one-fifth hide-on-mobiles">&nbsp;</div>

<div class="unit three-fifths">
  <!-- begin content -->
  <div class="unit two-thirds">
    {{ content }}
  </div>
  <!-- end content -->

  <!-- begin sidebar -->
  <div class="unit one-third">
    <p><a href="{{ site.baseurl }}/">Go back to list</a></p>

    <p>Found a problem?
       <a href="https://github.com/parkr/stuff/edit/master/{{ page.path }}">
         Fix it. &rarr;
       </a>
    </p>
  </div>
  <!-- end sidebar -->

</div>

<div class="unit one-fifth hide-on-mobiles">&nbsp;</div>
