---
layout: default
---

<div class="unit one-fifth hide-on-mobiles">&nbsp;</div>

<div class="unit three-fifths">
  <!-- begin content -->
  <div class="unit two-thirds">
    <p>
      {% if page.external-url %}
        <a href="{{ page.external-url }}" target="_blank" {% if page.defunct %}data-proofer-ignore="true"{% endif %}>{{ page.title }} &rarr;</a>
      {% endif %}
    </p>
    {{ content }}
  </div>
  <!-- end content -->

  <!-- begin sidebar -->
  <div class="unit one-third">
    <p>
      {% if page.external-url %}
      <a href="{{ page.external-url }}" target="_blank">Link</a>
      {% endif %}

      {% if page.mirror %}
      <a href="{{ site.baseurl }}/mirrors/{{ page.mirror }}">Mirror</a>
      {% endif %}
    </p>

    <p><a href="{{ site.baseurl }}/">Go back to list</a></p>

    <p>Found a problem?
       <a href="https://github.com/parkr/stuff/edit/master/{{ page.path }}">
         Fix it. &rarr;
       </a>
    </p>
  </div>
  <!-- end sidebar -->

</div>

<div class="unit one-fifth hide-on-mobiles">&nbsp;</div>
