on: push
name: cibuild on push
jobs:
  build:
    name: script/cibuild-stuff-docker
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: script/cibuild-stuff-docker
      run: script/cibuild-stuff-docker
